.searchbtn{
    max-width: 360px;
}
.login-form{
    width: 360px;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* for flex shortcut */
.cards-wrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    gap: 1em;
}

/* fixing the height of card */
.card-img-top {
    height: 300px !important;
    max-width: 250px !important;
}